.box{margin:0}
.left{float:left;}
.right{float: right;width:700px;height: 640px;}
.login{width: 350px;height: 300px;margin: 0 auto;padding: 0 auto;
    border:1px solid #adadad;margin-top: 120px}
.top{width: 350px;height: 40px;background:#38B25D;margin-bottom: 20px; }
.top p{color: #ffffff;font-size: 28px;font-family:"微软雅黑";text-align: center;}
h1,h2,h3,h4,h5,h6{font-family:"微软雅黑" ;}
h2{color: #ffffff;text-align: center;}